
.summary-thumbnail:after {
    content: " ";
    height: 60px;
    width: 60px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: block;
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 45%;
    border: 0.2em solid rgba(200, 200, 200, 0.5);
    border-left-color: #ffffff;
    border-radius: 50%;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}